<app-nav-bar></app-nav-bar>
<div class="movies-container">
  <mat-card *ngFor="let movie of movies; let i=index;" class="movie-card">
    <mat-card-header>
      <mat-card-title class="movie-title">{{movie.Title}}</mat-card-title>
      <mat-card-subtitle class="movie-subtitle">Directed by: {{movie.Director.Name}}</mat-card-subtitle>
    </mat-card-header>
    <img src={{movie.ImagePath}} alt={{movie.Title}} />
    <mat-card-actions class="movie-card-buttons">
      <button mat-button color="primary" (click)="openGenreDialog(movie.Genre.Name,
      movie.Genre.Description)">
        Genre
      </button>
      <button mat-button color="primary"
        (click)="openDirectorDialog(movie.Director.Name, movie.Director.Bio, movie.Director.Birth, movie.Director.Death)">
        Director
      </button>
      <button mat-button color="primary"
        (click)="openDetailsDialog(movie.Title, movie.ImagePath, movie.Description, movie.Director.Name, movie.Genre.Name)">
        Synopsis
      </button>
      <button mat-icon-button aria-hidden="false" aria-label="heart icon that adds movie to favorites list"
        matTooltip="Favorite movie" matTooltipPosition="above" (click)="addFavorite(movie._id)"
        class="heart-icon-button">
        <mat-icon color="primary">favorite_border</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>