img {
  width: 22rem;
  margin: 0 auto;
}

p {
  padding-top: 15px;
  font-size: 18px;
  width: 22rem;
  line-height: 1.4
}

.movie-title {
  font-size: 22px;
  padding-bottom: 10px;
}

.movie-subtitle {
  font-size: 18px; 
}
